/* ===== COLOR VARIABLES ===== */
:root {
    --hl-border-color: #ccd0da;
    --hl-bg: #eff1f5;
    --hl-color: #374151;
    --hl-scrollbar-bg: #d1d5db;
    --hl-tools-bg: #eff1f5;
    --hl-tools-color: #4b5563;
    --hl-tools-hover-color: #0ea5e9;
}

:is(html.night,
    html[data-theme="night"],
    html[data-theme="dark"],
    html.dark,
    .night,
    .dark) {
    --hl-border-color: #313244;
    --hl-bg: #1e1e2e;
    --hl-color: #cdd6f4;
    --hl-scrollbar-bg: #45475a;
    --hl-tools-bg: #1e1e2e;
    --hl-tools-color: #bac2de;
    --hl-tools-hover-color: #89b4fa;
}

/* ===== APPLYING COLORS ===== */

figure.shiki div.codeblock::-webkit-scrollbar-thumb {
    background: var(--hl-scrollbar-bg);
}

figure.shiki {
    border-color: var(--hl-border-color);
    background: var(--hl-bg);
    color: var(--hl-color);
}

.shiki-tools {
    background: var(--hl-tools-bg);
    color: var(--hl-tools-color);
}

.shiki-tools .copy-button:hover,
.shiki-tools .raw-button:hover,
.shiki-tools .fa-list-ol:hover,
.shiki-tools .fa-arrow-down-wide-short:hover,
.shiki-tools .expand:hover {
    color: var(--hl-tools-hover-color);
}

.shiki-tools .copy-notice {
    color: var(--hl-tools-hover-color);
    background: var(--hl-tools-bg);
}

.shiki-tools .code-title {
    color: var(--hl-tools-color);
}

.traffic-light.red {
    background-color: var(--ctp-red, #f38ba8);
}

.traffic-light.yellow {
    background-color: var(--ctp-peach, #fab387);
}

.traffic-light.green {
    background-color: var(--ctp-green, #a6e3a1);
}

.traffic-light::after {
    color: rgba(0, 0, 0, 0.6);
}

:is(html.night,
    html[data-theme="night"],
    html[data-theme="dark"],
    html.dark,
    .night,
    .dark) .shiki span {
    color: var(--shiki-night, var(--shiki-dark)) !important;
}